.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}

/* GRID STYLES */
.container {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: repeat(3, 100px); */
  /* grid-template-rows: repeat(2, 100px); */
  grid-template: repeat(2, 100px) / repeat(3,100px);

  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  /* align-content: end; */
  /* align-content: center; */
  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: space-evenly; */

    justify-content: center;
    align-content: center;
}
